:root {
  --c-very-dark-blue: hsl(243, 87%, 12%);
  --c-desaturated-blue: hsl(238, 22%, 44%);
  --c-bright-blue: hsl(224, 93%, 58%);
  --c-moderate-cyan: hsl(170, 45%, 43%);
  --c-light-grayish-blue: hsl(240, 75%, 98%);
  --c-light-gray: hsl(0, 0%, 75%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: inherit;
  border-radius: 2px;
}

html {
  font-size: 62.5%;
  font-family: 'open sans', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media only screen and (max-width: 1510px) {
  html {
    font-size: 60%;
  }
}

@media only screen and (max-width: 1450px) {
  html {
    font-size: 55%;
  }
}

@media only screen and (max-width: 1325px) {
  html {
    font-size: 52%;
  }
}

@media only screen and (max-width: 1255px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 1090px) {
  html {
    font-size: 46%;
  }
}

@media only screen and (max-width: 831px) {
  html {
    font-size: 43%;
  }
}

@media only screen and (max-width: 705px) {
  html {
    font-size: 50%;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'raleway', sans-serif;
}

.section {
  padding: 3rem 7.5%;
}

.section__heading {
  font-size: 3.8rem;
  margin-bottom: 2.5rem;
  color: var(--c-very-dark-blue);
}

@media only screen and (max-width: 1255px) {
  .section__heading {
    font-size: 3.4rem;
  }
}

@media only screen and (max-width: 990px) {
  .section__heading {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 880px) {
  .section__heading {
    font-size: 2.8rem;
  }
}

.section__para {
  font-size: 1.6rem;
  font-weight: 400;
  margin-bottom: 2.5rem;
}

@media only screen and (max-width: 1255px) {
  .header__logo img,
  .footer__logo img {
    width: 20rem;
  }
}

@media only screen and (max-width: 999px) {
  .header__logo img,
  .footer__logo img {
    width: 18rem;
  }
}

@media only screen and (max-width: 880px) {
  .header__logo img,
  .footer__logo img {
    width: 16rem;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav__item {
  margin-right: 3rem;
  font-size: 1.6rem;
  color: var(--c-very-dark-blue);
}

@media only screen and (max-width: 705px) {
  .header__nav__item {
    font-size: 1.6rem;
    margin-right: 2rem;
  }
}

.header__nav__item--last {
  margin-right: 0;
}

.hero {
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10rem;
}

@media only screen and (max-width: 705px) {
  .hero {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 705px) {
  .hero__text {
    text-align: center;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2 / 3;
  }
}

.hero__text__form {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 705px) {
  .hero__text__form {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero__text__form__email {
  border: 1px solid var(--c-light-gray);
  border-radius: 2px;
  width: 60%;
  font-size: 1.4rem;
  padding: 1.5rem;
  margin-right: 1.5rem;
}

@media only screen and (max-width: 705px) {
  .hero__text__form__email {
    width: 100%;
    margin-right: 0;
  }
}

.hero__text__form__btn {
  display: block;
  color: #fff;
  font-weight: 500;
  background-color: var(--c-bright-blue);
  border: 1px solid var(--c-bright-blue);
  font-size: 1.4rem;
  padding: 1.5rem;
  width: 40%;
}

@media only screen and (max-width: 705px) {
  .hero__text__form__btn {
    width: 100%;
    margin-top: 2rem;
  }
}

.hero__img {
  max-width: 80%;
  -ms-grid-column-align: center;
      justify-self: center;
}

.bg-curve img {
  width: 100%;
  margin-bottom: -1rem;
}

.feature {
  display: -ms-grid;
  display: grid;
  gap: 5rem;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8FE;
}

@media only screen and (max-width: 705px) {
  .feature {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    text-align: center;
  }
}

@media only screen and (max-width: 705px) {
  .feature__text__para {
    text-align: left;
  }
}

.feature__text__btn {
  border-bottom: 1px solid currentColor;
  color: var(--c-moderate-cyan);
  font-size: 1.4rem;
  font-weight: 500;
  display: inline-block;
  padding: .5rem 2rem .5rem 0;
  position: relative;
}

.feature__text__btn img {
  position: absolute;
  top: 53%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  margin-left: .5rem;
}

@media only screen and (max-width: 705px) {
  .feature__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
  }
}

.testimonial {
  max-width: 35rem;
  border-radius: .3rem;
  margin: 5rem 0;
  padding: 3rem;
  -webkit-box-shadow: 0 0 8px var(--c-light-gray);
          box-shadow: 0 0 8px var(--c-light-gray);
  background: #fff;
}

@media only screen and (max-width: 705px) {
  .testimonial {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
  }
}

.testimonial__para {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.6;
  color: var(--c-very-dark-blue);
}

.testimonial__client {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.testimonial__client__img {
  border-radius: 50%;
  width: 30px;
  margin-right: 1rem;
}

.testimonial__client__name {
  font-size: 1.2rem;
}

.testimonial__client__company {
  font-size: 1rem;
}

.cta {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--c-desaturated-blue);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 705px) {
  .cta {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cta__text {
  width: 40%;
}

@media only screen and (max-width: 705px) {
  .cta__text {
    width: 90%;
    text-align: center;
  }
}

.cta__text__heading {
  font-size: 3.2rem;
  margin-bottom: 2rem;
}

.cta__form {
  width: 40%;
}

@media only screen and (max-width: 705px) {
  .cta__form {
    width: 80%;
  }
}

.cta__form__email {
  border: 1px solid var(--c-light-gray);
  border-radius: 2px;
  width: 100%;
  font-size: 1.4rem;
  padding: 1.5rem;
  margin-right: 1.5rem;
}

.cta__form__btn {
  margin-top: 2rem;
  color: #fff;
  font-weight: 500;
  background-color: var(--c-bright-blue);
  border: 1px solid var(--c-bright-blue);
  font-size: 1.4rem;
  padding: 1.5rem;
  width: 40%;
}

@media only screen and (max-width: 880px) {
  .cta__form__btn {
    width: 50%;
  }
}

@media only screen and (max-width: 705px) {
  .cta__form__btn {
    width: 100%;
  }
}

.footer {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: var(--c-very-dark-blue);
}

.footer__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin-top: 2rem;
  color: #fff;
  font-size: 1.4rem;
}

@media only screen and (max-width: 705px) {
  .footer__content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3rem;
  }
}

.footer__contact-info__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contact-info__div--2 {
  margin-top: 2rem;
}

.footer__contact-info__div__img {
  margin-right: 1.5rem;
}

.footer__nav__item {
  color: #fff;
  display: block;
  padding: .5rem 0;
}

.footer__nav__item--first {
  padding-top: 0;
}

@media only screen and (max-width: 705px) {
  .footer__social {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.footer__social__item {
  border: 1px solid #fff;
  display: inline-block;
  border-radius: 15rem;
  padding: 1.8rem;
  position: relative;
  margin-right: 2rem;
}

.footer__social__item img {
  position: absolute;
  width: 1.8rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
/*# sourceMappingURL=style.css.map */